.header {
    height: 60px;
    padding: 10px 0;
    border-bottom: 1px solid black;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        background: gray;
    }

    &__text {
        font-size: 35px;
        color: #000;
    }
}