.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    &__link {
        font-size: 20px;
        font-weight: 700;
        transition: 0.6s;
    }
    &__link:hover {
        color: pink;
        text-decoration: underline;
    }
}